mat-card {
    position: fixed;
    display: block;
    left: 25vw;
    top: 100px;
    right: 25vw;
    width: 50vw;
    min-height: 80px;
    z-index: 2000;
    color: white;
}

mat-card > div {
    display: block;
    float: left;
    position: relative;
    max-width: 95%;
    font-size: larger;
}

mat-card > mat-icon {
    display: block;
    float: right;
    position: relative;
    max-width: 5%;
    cursor: pointer;
}