<mat-card>

  <mat-card-title>
      <span *ngIf="isEdit === false else:elseBlock">Create Interest Rate</span>

      <ng-template #elseBlock>Edit Interest Rate</ng-template>
  </mat-card-title>

  <mat-card-content>
    <form (ngSubmit)="submitInterest(form)" #form="ngForm">
      <div class="grid">
          <div class="gridItem heading"></div>
          <div class="gridItem heading">Above 5m (%)</div>
          <div class="gridItem heading">Below 5m (%)</div>
          <div class="gridItem editHeading"><span *ngIf="isEdit === true" (click)="editingNow = 'USD'"> </span></div>

          <div class="gridItem currency">
            Current Account <input ngModel="currentAccount" name="current-interest" type="hidden">
          </div>
          <div class="gridItem">
              <mat-form-field appearance="outline">
                <mat-label>Value in %</mat-label>
                <input ngModel name="current-above" matInput placeholder="Value in %" type="number" [required]="!isEdit" [readonly]="editingNow !== 'current' && createPage !== 'active'">
                <mat-hint></mat-hint>
              </mat-form-field>
          </div>
          <div class="gridItem">
              <mat-form-field appearance="outline">
                <mat-label>Value in %</mat-label>
                <input ngModel name="current-below" matInput placeholder="Value in %" type="number" [required]="!isEdit" [readonly]="editingNow !== 'current' && createPage !== 'active'">
                <mat-hint></mat-hint>
              </mat-form-field>
          </div>
          <div class="editIcon">
              <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'current'" (click)="editingNow = 'current'">lock</mat-icon>
              <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'current'" (click)="editingNow = 'current'">lock_open</mat-icon>
          </div>

          <div class="gridItem currency">
            Savings Account <input ngModel="savingsAccount" name="saving-interest" type="hidden">
          </div>
          <div class="gridItem">
              <mat-form-field appearance="outline">
                <mat-label>Value in %</mat-label>
                <input ngModel name="savings-above" matInput placeholder="Value in %" type="number" [required]="!isEdit" [readonly]="editingNow !== 'savings' && createPage !== 'active'">
                <mat-hint></mat-hint>
              </mat-form-field>
          </div>
          <div class="gridItem">
              <mat-form-field appearance="outline">
                <mat-label>Value in %</mat-label>
                <input ngModel name="savings-below" matInput placeholder="Value in %" type="number" [required]="!isEdit" [readonly]="editingNow !== 'savings' && createPage !== 'active'">
                <mat-hint></mat-hint>
              </mat-form-field>
          </div>
          <div class="editIcon">
            <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'savings'" (click)="editingNow = 'savings'">lock</mat-icon>
            <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'savings'" (click)="editingNow = 'savings'">lock_open</mat-icon>
          </div>


          <div class="gridItem currency">
              Strict Call <input ngModel="strictCall" name="strict-interest" type="hidden">
            </div>
            <div class="gridItem">
                <mat-form-field appearance="outline">
                  <mat-label>Value in %</mat-label>
                  <input ngModel name="strict-above" matInput placeholder="Value in %" type="number" [required]="!isEdit" [readonly]="editingNow !== 'strict' && createPage !== 'active'">
                  <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <div class="gridItem">
                <mat-form-field appearance="outline">
                  <mat-label>Value in %</mat-label>
                  <input ngModel name="strict-below" matInput placeholder="Value in %" type="number" [required]="!isEdit" [readonly]="editingNow !== 'strict' && createPage !== 'active'">
                  <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <div class="editIcon">
              <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'strict'" (click)="editingNow = 'strict'">lock</mat-icon>
              <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'strict'" (click)="editingNow = 'strict'">lock_open</mat-icon>
            </div>
        </div>

        <mat-card-actions *ngIf="form.valid === true">
            <button mat-flat-button color="primary" type="submit">Save</button>
        </mat-card-actions>
    </form>
</mat-card-content>
</mat-card>
