.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.gridItem {
  margin: 0 5px;
}

.heading {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  margin: 10px 0;
}

.currency {
  font-weight: bold;
  font-size: larger;
  display: block;
  margin-top: 22px;
}

.editIcon > mat-icon {
  text-align: center;
  display: block;
  width: 50px;
  padding: 20px 0;
  cursor: pointer;
}

.editHeading {
  font-weight: bold;
  font-size: larger;
  margin: 10px 0;
}

[disabled] {
border: thick;
color: red;
}

mat-card {
  display: block;
  width: 50vw;
  min-width: min-content;
  height: auto;
  margin: 0 25vw;
  padding: 50px;
}

mat-form-field {
  display: block;
}

mat-card-actions button {
  margin: 10px;
}
