<mat-toolbar>
    Accelerate TV

    <div class="navOption">
        <button mat-button>Home</button>
        <button mat-button [routerLink]="['create-exchange']">Exchange</button>
        <button mat-button [routerLink]="['create-interest']">Interest</button>
        <button mat-button [routerLink]="['interestview']">View Interests</button>
        <button mat-button [routerLink]="['exchangeview']">View Exchange</button>
        <button mat-button [routerLink]="['dashboard']">Dashboard</button>
    </div>
</mat-toolbar>


<app-alert *ngIf="showAlert === true"></app-alert>
<router-outlet></router-outlet>




