<div class="container">
<div class="interest-rate">INTEREST RATE</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>AccountType</th>
        <th>Above5m</th>
        <th>Below5m</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor = "let interestRate of allInterest">
        <td>{{interestRate.accountTypeId.name}}</td>        
        <td>{{interestRate.above5m}}</td>
        <td>{{interestRate.below5m}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  











