<mat-card>

  <mat-card-title>
    <span *ngIf="isEdit === false else:elseBlock">Create Exchange Rate</span>

    <ng-template #elseBlock>Edit Exchange Rate</ng-template>
  </mat-card-title>

  <mat-card-content>
    <form (ngSubmit)="submitExchange(form)" #form="ngForm">
      <div class="grid">
        <div class="gridItem heading"></div>
        <div class="gridItem heading">We Buy</div>
        <div class="gridItem heading">We Sell</div>
        <div class="gridItem editHeading"><span *ngIf="isEdit === true" (click)="editingNow = 'USD'"> </span></div>

        <div class="gridItem currency">
          USD <input ngModel="USD" name="USD-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy USD</mat-label>
              <input ngModel name="USD-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'USD' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
          
            <mat-form-field appearance="outline">
              <mat-label>We sell USD</mat-label>
              <input ngModel name="USD-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'USD' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
            <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'USD'" (click)="editingNow = 'USD'">lock</mat-icon>
            <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'USD'" (click)="editingNow = 'USD'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
            GBP <input ngModel="GBP" name="GBP-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy GBP</mat-label>
              <input ngModel name="GBP-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'GBP' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell GBP</mat-label>
              <input ngModel name="GBP-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'GBP' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'GBP'" (click)="editingNow = 'GBP'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'GBP'" (click)="editingNow = 'GBP'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
          ZAR <input ngModel="ZAR" name="ZAR-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy ZAR</mat-label>
              <input ngModel name="ZAR-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'ZAR' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell ZAR</mat-label>
              <input ngModel name="ZAR-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'ZAR' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'ZAR'" (click)="editingNow = 'ZAR'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'ZAR'" (click)="editingNow = 'ZAR'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
          CHF<input ngModel="CHF" name="CHF-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy CHF</mat-label>
              <input ngModel name="CHF-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'CHF' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell CHF</mat-label>
              <input ngModel name="CHF-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'CHF' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'CHF'" (click)="editingNow = 'CHF'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'CHF'" (click)="editingNow = 'CHF'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
          AUD <input ngModel="AUD" name="AUD-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy AUD</mat-label>
              <input ngModel name="AUD-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'AUD' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell AUD</mat-label>
              <input ngModel name="AUD-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'AUD' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'AUD'" (click)="editingNow = 'AUD'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'AUD'" (click)="editingNow = 'AUD'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
          EVR <input ngModel="EVR" name="EVR-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy EVR</mat-label>
              <input ngModel name="EVR-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'EVR' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell EVR</mat-label>
              <input ngModel name="EVR-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'EVR' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'EVR'" (click)="editingNow = 'EVR'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'EVR'" (click)="editingNow = 'EVR'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
          JPY <input ngModel="JPY" name="JPY-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy JPY</mat-label>
              <input ngModel name="JPY-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'JPY' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell JPY</mat-label>
              <input ngModel name="JPY-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'JPY' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'JPY'" (click)="editingNow = 'JPY'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'JPY'" (click)="editingNow = 'JPY'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
          CAD <input ngModel="CAD" name="CAD-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy CAD</mat-label>
              <input ngModel name="CAD-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'CAD' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell CAD</mat-label>
              <input ngModel name="CAD-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'CAD' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'CAD'" (click)="editingNow = 'CAD'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'CAD'" (click)="editingNow = 'CAD'">lock_open</mat-icon>
        </div>

        <div class="gridItem currency">
          AED <input ngModel="AED" name="AED-currency" type="hidden">
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We buy AED</mat-label>
              <input ngModel name="AED-buy" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'AED' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="gridItem">
            <mat-form-field appearance="outline">
              <mat-label>We sell AED</mat-label>
              <input ngModel name="AED-sell" matInput placeholder="Enter an amount" type="number" [required]="!isEdit" [readonly]="editingNow !== 'AED' && createPage !== 'active'">
              <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div class="editIcon">
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow !== 'AED'" (click)="editingNow = 'AED'">lock</mat-icon>
          <mat-icon matSuffix *ngIf="isEdit === true && editingNow === 'AED'" (click)="editingNow = 'AED'">lock_open</mat-icon>
        </div>
      </div>

      <mat-card-actions *ngIf="form.valid === true">
          <button mat-flat-button color="primary" type="submit">Save</button>
      </mat-card-actions>
    </form>
</mat-card-content>
</mat-card>
