<div class="container">
<div class="exchange-rate">EXCHANGE RATE</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Currency</th>
        <th>WeBuy</th>
        <th>WeSell</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor = "let exchangeRate of exchangeRates">
        <td>{{exchangeRate.CurrencyId.name}}</td>
        <td>{{exchangeRate.weBuy}}</td>
        <td>{{exchangeRate.weSell}}</td>
      </tr>
    </tbody>
  </table>
</div>
